.error-div--main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error--div {
    width: 80%;
    height: 40%;
    margin: auto;
    text-align: center;
    font-family: 'Cutive', serif;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.gradient-text {
    background-image: linear-gradient(60deg, #000000,#958E69);
    background-clip: text;
    color: transparent;
}

.error-code {
    font-family: "Cutive", serif;
}

.error-message {
    font-family: "Cutive", serif;
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}