.main-div {
    width: 100%;
    height: 80vh;
}

.main-heading--div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-heading {
    font-size: 2.5rem;
    font-family: 'Cutive', serif;
    font-weight: bold;
}

img {
    border-radius: 15px;
    margin-right: 25px;
}

.main-content--div {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content-content--div {
    font-family: 'Cutive', serif;
    width: 450px;
    height: 280px;
    margin-left: 20px;
}

.heading-secondary-home {
    margin-top: -3px;
}

.login-button--sm {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    background: grey;
    border-radius: 15px;
    font-size: 18px;
    color: #eee;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 50px;
}

.headerDivider {
    border-left: 2px solid #333;
    height: 280px;
    margin: 10px 10px;
}

.main-features--div {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .main-div {
        display: flex;
        flex-direction: column;
    }

    .main-heading--div {
        height: 20%;
        margin-bottom: 60px;
    }

    .main-content-content--div {
        margin-top: 30px;
    }

    .main-content--div {
        display: flex;
        flex-direction: column;
    }

    img {
        height: 250px;
        width: 420px;
    }

    .headerDivider {
        display: none;
    }
}

@media (max-width: 600px) {

    .main-heading--div {
        margin-bottom: 50px;
    }

    img {
        height: 250px;
        width: 380px;
    }

    .main-content-content--div {
        margin-top: 20px;
        width: 420px;
    }

    .headerDivider {
        display: none;
    }
}

@media (max-width: 400px) {

    .main-heading--div {
        margin-bottom: 50px;
    }

    img {
        height: 200px;
        width: 300px;
    }

    .main-content-content--div {
        margin-top: 20px;
        width: 340px;
    }

    .headerDivider {
        display: none;
    }
}